/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Estilos para los detalles del equipo */
#teamDetails {
  flex: 1;
}

#details {
  border: 1px solid #333;
  padding: 10px;
}
